# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Journey of Computer Science\Luxcity-Space-Invaders-Python-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
